Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

chore: latest yargs
  package-lock.json
  package.json
Due: prettier --write

chore: yargs as same on main
  package-lock.json
  package.json
Due: prettier --write

Resolve lint error in e2e tests
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Update docstrings
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: reduce complexity in utils and params
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: fetch methods
  src/fluent/index.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Update .gitignore
  .gitignore
Due: none

chore: resolve lint warnings in watch e2e test (#755)
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Add nightly release jobs
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: none

Remove commented publish command
  scripts/nightlies.sh
Due: none

Match envvar name
  .github/workflows/nightlies.yml
Due: none

Rename variable
  .github/workflows/nightlies.yml
Due: none

chore: add nightly release workflow (#763)
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: none

Display just the version when --version is passed
  src/cli.ts
Due: prettier --write, eslint --fix

fix: display just the version when --version is passed (#764)
  src/cli.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8dd738164633a045109627ee3b87d97bcc74c4be
Due: none

chore: remove package.yaml
  e2e/cli.e2e.test.ts
  e2e/crds/uds-package/package.crd.yaml
  package.json
Due: prettier --write, eslint --fix

chore: update e2e tests
  e2e/cli.e2e.test.ts
  package.json
Due: prettier --write, eslint --fix

fix: quicktype type generation for json-schema (#751)
  .github/workflows/e2e.yml
  .gitignore
  e2e/cli.e2e.test.ts
  package-lock.json
  package.json
  src/generate.test.ts
  src/generate.ts
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a827bb10f53669d823f1b4ee24f715f782d07938
Due: none

Remove unused files
  jest.config.json
Due: prettier --write

chore: remove unused files (#768)
  jest.config.json
Due: prettier --write

chore: reduce complexity in `utils.ts` and reduce params (#719)
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: rempove skipped tests from utils
  src/fluent/utils.test.ts
Due: prettier --write, eslint --fix

chore: mock kubeconfig
  src/fluent/utils.test.ts
Due: prettier --write, eslint --fix

chore: mock kubeconfig
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

chore: use pack version
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: use pack version in e2e
  .github/workflows/e2e.yml
Due: none

chore: reestablish `main.test.ts` e2e test and configure npm pack version (#780)
  .github/workflows/e2e.yml
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: remove skipped tests from utils (#776)
  src/fluent/utils.test.ts
Due: prettier --write, eslint --fix

chore: mock kubeconfig in `watch.test.ts` in order to remove skipped test (#779)
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

chore: add security policy file
  SECURITY.md
Due: none

chore: security justifications against regex
  osv-scanner.yaml
Due: none

chore: rename to toml
  osv-scanner.toml
Due: none

chore: add security policy file (#784)
  SECURITY.md
Due: none

Update osv-scanner.toml
  osv-scanner.toml
Due: none

chore: security justifications against regex (#787)
  osv-scanner.toml
Due: none

chore: unskip test
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

fix: unskip test (#790)
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6cd1f92e5a6107e48e5d9f0f083e595db056ecbf
Due: none
