Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

Revert "feat: add crd-manifests command to export crd manifests from ts modules (#1019)"
  README.md
  e2e/crd-manifests.e2e.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/crd-manifests.test.ts
  src/crd-manifests.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

chore: handle error
  src/fluent/utils.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: fix dependency conflict
  package-lock.json
  package.json
Due: prettier --write

fix: retry-watch (#1000)
  src/fetch.ts
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c7ac5886a7ddf66dfc0baa9be7f8872513d4193a
Due: none

chore: dependency conflict
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

fix: resolve CJS/ESM cycle and .js→.ts remapping in CRD module loading (#1027)
  e2e/crd-manifests.e2e.test.ts
  e2e/fixtures/crd-with-child-imports/index.ts
  e2e/fixtures/crd-with-child-imports/shared-metadata.ts
  e2e/fixtures/crd-with-child-imports/version-schema.ts
  e2e/tsconfig.json
  package.json
  src/cli.ts
  src/crd-manifests.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  83564844befa6ba4b49174b4f18654c24b9bc60d
Due: none

chore: added 7 day cooldown to dependabot
  .github/dependabot.yml
Due: none

chore: added 7 day cooldown to dependabot (#1036)
  .github/dependabot.yml
Due: none

fix: resolve 8 JSDoc lint warnings
  src/fluent/utils.ts
  src/fluent/watch.ts
  src/helpers.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

fix: retry on crud ops
  src/fluent/utils.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: do not return undefined
  src/fluent/utils.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: resolve 8 JSDoc lint warnings (#1037)
  src/fluent/utils.ts
  src/fluent/watch.ts
  src/helpers.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9ba8a1b0707b70619d12307ac1d4af6dee3a3c48
Due: none

fix: ensure reconnect pending does not get stuck
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: remove connected var
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: cleanup in 429, don't reset for 429
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: add else
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: ensure reconnect pending does not get stuck (#1043)
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  9459269e91a98cbfc2d23483182242c8e851ddcd
Due: none

fix: add missing plural overrides for four resource kinds
  src/kinds.test.ts
  src/kinds.ts
Due: prettier --write, eslint --fix

fix: clear stale `continueToken` on last pagination page in `#list`
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: clone `filters` in terminal operations to prevent cross-call contamination
  src/fluent/index.test.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

fix: preserve real HTTP status on body-parse failure in `fetch`
  src/fetch.test.ts
  src/fetch.ts
Due: prettier --write, eslint --fix

chore: preserve real HTTP status on body-parse failure in `fetch` (#1050)
  src/fetch.test.ts
  src/fetch.ts
Due: prettier --write, eslint --fix

chore: clear stale `continueToken` on last pagination page in `#list` (#1047)
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: clone `filters` in terminal operations to prevent cross-call contamination (#1048)
  src/fluent/index.test.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

fix: add missing plural overrides for four resource kinds (#1046)
  src/kinds.test.ts
  src/kinds.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e43dcd981a05299dde257940cbe3e9702cf4118f
Due: none

chore: codeowners informer
  CODEOWNERS
Due: none

chore: codeowners informer (#1056)
  CODEOWNERS
Due: none

chore: upgrade to eslint 10
  package-lock.json
  package.json
  src/crd-manifests.ts
  src/generate.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: upgrade to eslint 10 (#1053)
  package-lock.json
  package.json
  src/crd-manifests.ts
  src/generate.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

version-pin devdeps
  package-lock.json
  package.json
Due: prettier --write

version-pin deps
  package-lock.json
  package.json
Due: prettier --write

version-pin overrides
  package.json
Due: prettier --write

chore: version-pin all dependencies (#1057)
  package-lock.json
  package.json
Due: prettier --write

Remove unnecessary dependencies
  package-lock.json
  package.json
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: remove unnecessary dependencies (#1058)
  package-lock.json
  package.json
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/index.ts
Due: prettier --write, eslint --fix
