Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

Notes added by 'git notes add'
  d0870023ae4b587636700b916d672552fc84c3a9
Due: none

fix: decouple list from watch
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: decouple list from watch (#995)
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6331e4bb0e70ad1433293728575379ea88eeec4c
Due: none

fix: retry-watch
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: fix call with try catch
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: return headers with retry
  src/fetch.ts
  src/fluent/utils.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: tests
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

chore: retry on crud ops
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d2aca219c590c9a6712b1562b0641288209058f3
Due: none

fix: add headers
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2cd177b6588583e01d4f30be17fb1359c7c23888
Due: none

fix: add header
  src/fluent/index.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  3520a6e021cda4a26b92a53fbb9f3dc4002c3de9
Due: none

Notes added by 'git notes add'
  5c969a1deb1f58e7607b2a2c3c35ea5894baecc9
Due: none

chore: do not retry on crud
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: retry list and watch
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: send back fetch error
  src/fetch.ts
Due: prettier --write, eslint --fix

chore: stack trace on k8sexec 429
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

feat: clusterless crd generation with tsx
  README.md
  package-lock.json
  package.json
  src/cli.ts
  src/generate.integration.test.ts
  src/generate.test.ts
  src/generate.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

improve logic and testing
  README.md
  package.json
  src/cli.ts
  src/generate.integration.test.ts
  src/generate.test.ts
  src/generate.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

additional testing and general cleanup
  e2e/clusterless-crd.e2e.test.ts
  e2e/crds/clusterless/clusterless-crd.ts
  e2e/crds/clusterless/invalid-schema-crd.ts
  e2e/crds/clusterless/widget-v1.expected.ts
  e2e/crds/clusterless/widgets.example.com.expected.yaml
  package.json
  src/cli.ts
  src/generate.integration.test.ts
  src/generate.ts
Due: prettier --write, eslint --fix

revert to using legacy crd standardization
  e2e/clusterless-crd.e2e.test.ts
  src/generate.test.ts
  src/generate.ts
Due: prettier --write, eslint --fix

cleanup a unnecessary changes
  e2e/clusterless-crd.e2e.test.ts
  src/generate.integration.test.ts
  src/generate.test.ts
  src/generate.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  af511d3449b33139ead87c0c66d5687566f8a8e1
Due: none

feat: new crd-manifest command for converting ts definitions to yaml manifests
  README.md
  e2e/crd-manifests.e2e.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/crd-manifests.test.ts
  src/crd-manifests.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4d4ee668bd4329274b33acec13cbaa7f83a7d3b1
Due: none

feat: add crd-manifests command to export crd manifests from ts modules (#1019)
  README.md
  e2e/crd-manifests.e2e.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/crd-manifests.test.ts
  src/crd-manifests.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  51504e5c35e3760d786331bbf120abf8e2786029
Due: none

wip: initial impelemenation
  src/crd-manifests.ts
Due: prettier --write, eslint --fix

wip: initial implementation
  src/crd-manifests.test.ts
  src/crd-manifests.ts
Due: prettier --write, eslint --fix

fix: resolve CJS/ESM cycle when loading TypeScript CRD modules
  src/crd-manifests.ts
Due: prettier --write, eslint --fix

Always run npm pack during build to avoid using stale local artifact
  package.json
Due: prettier --write

chore: always run npm pack during build to avoid using stale local artifact (#1028)
  package.json
Due: prettier --write

fix: use tsx programmatic API instead of subprocess for CRD module loading
  package.json
  src/crd-manifests.ts
  src/tsx-esm.d.ts
Due: prettier --write, eslint --fix

fix: use global tsx register() for proper .js→.ts extension remapping
  src/crd-manifests.ts
Due: prettier --write, eslint --fix

fix: use tsImport() to avoid CJS/ESM cycle from register()
  e2e/crd-manifests.e2e.test.ts
  e2e/fixtures/crd-with-child-imports/index.ts
  e2e/fixtures/crd-with-child-imports/shared-metadata.ts
  e2e/fixtures/crd-with-child-imports/version-schema.ts
  e2e/tsconfig.json
  src/crd-manifests.ts
Due: prettier --write, eslint --fix

chore: add alpha warning to crd-manifests command
  e2e/crd-manifests.e2e.test.ts
  src/cli.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
