Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

feat: proxy sub resource
  e2e/main.e2e.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

chore: fix function
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: update function args
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: update types
  src/fluent/types.ts
Due: prettier --write, eslint --fix

chore: changes to the type
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

feat: expose proxy subresource (#792)
  e2e/main.e2e.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  73468e77f3078cc8cfc0d7ee619f33712b968c8d
Due: none

feat: overrideclassname
  src/cli.ts
  src/generate.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Update src/postProcessing.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

feat: overrideclassname to be able to generate crds with the same kind (#795)
  src/cli.ts
  src/generate.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  431120540a1c5127b475b7962114845088062195
Due: none

chore: remove unneeded patch
  src/index.ts
  src/patch.ts
Due: prettier --write, eslint --fix

fix: remove unneeded patch (#814)
  src/index.ts
  src/patch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  c389947b9b6b5768b036519209f25b5718b65d41
Due: none

Revert "fix: remove unneeded patch (#814)"
  src/index.ts
  src/patch.ts
Due: prettier --write, eslint --fix

fix: revert patch due to errors in uds core (#819)
  src/index.ts
  src/patch.ts
Due: prettier --write, eslint --fix

feat: scale sub resource
  e2e/main.e2e.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

chore: document function
  src/fluent/index.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  e1d00abd087a34f6a0e8d85f567270299c4780a0
Due: none

Update e2e/main.e2e.test.ts
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

feat: scale sub resource (#820)
  e2e/main.e2e.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  6777d955326e53be1be4f818aecd61102478d731
Due: none

chore: WIP finalize
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: finish finalize
  e2e/main.e2e.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

chore: refactor around complexity warnings
  src/fluent/index.test.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

Update src/fluent/index.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: pr comments
  src/fluent/index.test.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: rename
  src/fluent/index.test.ts
Due: prettier --write, eslint --fix

feat: finalize in kfc (#825)
  e2e/main.e2e.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a3c0836fa225a012c263195cde986eebc0487ed9
Due: none

chore: rerun ci
  README.md
Due: none

chore: fix jsdoc dep
  eslint.config.mjs
Due: none

Notes added by 'git notes add'
  c87fe9b0098a1ab368a34b02ff06d907202fb6f5
Due: none

chore: ts-node command does not work - use tsx
  CONTRIBUTING.md
Due: none

chore: ts-node command does not work - use tsx (#850)
  CONTRIBUTING.md
Due: none

Notes added by 'git notes add'
  73b38a4f7d419c73cb199d77d9794859a83382a7
Due: none

chore: override vulnerable npm libs
  package.json
Due: prettier --write

chore: ignore vulnerable packages
  .github/dependabot.yml
  package.json
Due: prettier --write

chore: override vulnerable npm libs (#859)
  .github/dependabot.yml
Due: none
