Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

chore: run pexex e2es on kubernetes-fluent-client prs and nightly (#642)
  .github/workflows/matrix.js
  .github/workflows/pexex.yaml
  eslint.config.mjs
Due: prettier --write, eslint --fix

chore: fix lang
  src/generate.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  5025831457a23568b1211181449668d8ea9a8352
Due: none

Notes added by 'git notes add'
  1c8ec8f08732cda3e5189b771676180b9480dd0d
Due: none

Notes added by 'git notes add'
  e1554e3364e51d3133e1af6e2beeb1b5314809da
Due: none

chore: avoid redudancy and add clarity to contributing
  CONTRIBUTING.md
Due: none

fix: avoid redundancy and add clarity to contributing (#670)
  CONTRIBUTING.md
Due: none

Notes added by 'git notes add'
  0543426d990ae613664d8b94f94efeb84636e006
Due: none

chore: ignore failing tests so we can bump kubernetes/client-node
  jest.config.json
Due: prettier --write

chore: remove ignore in dependabot
  .github/dependabot.yml
Due: none

chore: remove ignore pattern and ignore failing unit tests so we can bump kubernetes/client-node (#684)
  .github/dependabot.yml
  jest.config.json
Due: prettier --write

Add support for node 24
  .github/workflows/node.js.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add support for node 24 (#686)
  .github/workflows/node.js.yml
  package-lock.json
  package.json
Due: prettier --write

chore: add e2e dir to tsconfig
  tsconfig.json
Due: prettier --write

chore: e2e watch
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Update tsconfig.json
  tsconfig.json
Due: prettier --write

chore: do not delete the cluster
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: 2 other events
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: e2e test for watch (#688)
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: kinds e2e test
  e2e/kinds.e2e.test.ts
Due: prettier --write, eslint --fix

Include e2es in linted files
  eslint.config.mjs
Due: none

Lint the eslint config file
  eslint.config.mjs
Due: none

chore: include e2es in linted files (#691)
  eslint.config.mjs
Due: none

Create skeleton for generate e2es
  e2e/generate.e2e.test.ts
Due: prettier --write, eslint --fix

ID spots to reference for an E2E
  e2e/generate.e2e.test.ts
Due: prettier --write, eslint --fix

Handle situations where format:check runs
  e2e/tsconfig.json
  eslint.config.mjs
Due: prettier --write

Include e2e tests in format:check
  package.json
Due: prettier --write

Resolve linter issues
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

eslint fixes
  eslint.config.mjs
Due: none

fix: handle eslint exclusions on `e2e/` when `format:check` runs (#693)
  e2e/main.e2e.test.ts
  e2e/tsconfig.json
  e2e/watch.e2e.test.ts
  eslint.config.mjs
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  ed4ada59aaf1aea9af8ca57cc6bb61a387d36c25
Due: none

chore: lint
  e2e/kinds.e2e.test.ts
Due: prettier --write, eslint --fix

chore: use correct request init for fetch
  src/fluent/utils.test.ts
Due: prettier --write, eslint --fix

Increase E2E timeout to 8 minutes
  e2e/main.e2e.test.ts
  e2e/timeoutLimit.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

bump CI timeout
  .github/workflows/pexex.yaml
Due: none

Revert "Increase E2E timeout to 8 minutes"
  e2e/main.e2e.test.ts
  e2e/timeoutLimit.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: kinds e2e test (#690)
  e2e/kinds.e2e.test.ts
Due: prettier --write, eslint --fix

chore: timeout to 8 minutes (#695)
  .github/workflows/pexex.yaml
Due: none

Remove unused function
  e2e/watch.e2e.test.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: ensure e2e coverage for utils.ts (#696)
  e2e/watch.e2e.test.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix
