Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

fix: trigger release
  README.md
Due: none

fix: trigger release (#1070)
  README.md
Due: none

Notes added by 'git notes add'
  0a96c707c7aa8d3277f022db73fd447e13ab5965
Due: none

fix: install fast-json-patch dep
  package-lock.json
  package.json
  src/fluent/types.ts
Due: prettier --write, eslint --fix

chore: regen package lock
  package-lock.json
  package.json
Due: prettier --write

chore: update global headers type
  src/fetch.ts
Due: prettier --write, eslint --fix

fix: cache items after callback succeeds to prevent permanent loss
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: guard concurrent #list() calls and use return value in relist timer
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: emit DATA event only after callback succeeds and cache updates
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: return false from #list() when callbacks fail
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: refresh lastSeenTime during list processing to prevent spurious resync
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: separate pageCount from retryCount to fix dead pagination guard
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

refactor: remove dead backoff ternary branch in list retry
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: test improvements and minor cleanups
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

refactor: consolidate tests with helpers and table-driven patterns
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

fix: use exact watch paths and clean up listeners in test helpers
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

fix: restore dropped test assertions from pre-refactor commits
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

fix: use callback factories in it.each to isolate mutable state
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

chore: remove duplicate MockAgent setup in beforeEach
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

Update src/fluent/watch.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: propagate callback failures across pagination boundaries
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: include retryCount in isTopLevel check to unblock 429 retries
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: cache items after callback succeeds to prevent permanent loss (#1105)
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1cbb08309b6113012e7b4a5ce4906389052b1c7d
Due: none

chore: update version comment
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

chore: major version bumps open individual PR
  .github/dependabot.yml
Due: none

chore: major version bumps open individual PR (#1130)
  .github/dependabot.yml
Due: none

chore: config release-please
  .github/workflows/release.yml
  .release-please-manifest.json
  osv-scanner.toml
  package-lock.json
  package.json
  release-please-config.json
  scripts/set-version.cjs
Due: prettier --write

chore: greptile fixes
  .github/workflows/release.yml
  scripts/set-version.cjs
Due: none

chore: config release-please (#1145)
  .github/workflows/release.yml
  .release-please-manifest.json
  osv-scanner.toml
  package-lock.json
  package.json
  release-please-config.json
  scripts/set-version.cjs
Due: prettier --write

Update test structure for vitest warning
  src/helpers.test.ts
Due: prettier --write, eslint --fix

Update tests to use undici 8.0
  e2e/main.e2e.test.ts
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/generate.test.ts
Due: prettier --write, eslint --fix

Remove unnecessary e2e dependency from test matrix
  .github/workflows/node.js.yml
Due: none

Bump minimum Node to 22.19.0 for undici 8 compatibility
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

Use node 22 in e2e tests
  .github/workflows/e2e.yml
Due: none

chore: unhide chore commits in release-please config
  release-please-config.json
Due: prettier --write

chore: unhide chore commits in release-please config (#1181)
  release-please-config.json
Due: prettier --write
