Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

chore: bring in e2e tests and address PR comments
  src/fetch.test.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: update lint error
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

chore: update crd generation to point to main branch
  package.json
Due: prettier --write

chore: build before pack
  package.json
Due: prettier --write

chore: one more refernce
  .github/workflows/e2e.yml
Due: none

chore: update crd generation to point to main branch (#482)
  .github/workflows/e2e.yml
  package.json
Due: prettier --write

chore: merge queues
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/scorecard.yml
Due: none

Update .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

chore: format
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/scorecard.yml
Due: none

Update .github/workflows/scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Update .github/workflows/node.js.yml
  .github/workflows/node.js.yml
Due: none

Update .github/workflows/commitlint.yml
  .github/workflows/commitlint.yml
Due: none

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: test ignore
  .github/workflows/commitlint.yml
Due: none

chore: experiment with mg
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
  .github/workflows/scorecard.yml
Due: none

chore: cql
  .github/workflows/codeql.yml
Due: none

chore: format
  .github/workflows/commitlint.yml
Due: none

chore: conditional
  .github/workflows/commitlint.yml
Due: none

test: update versions of node being tested against
  .github/workflows/node.js.yml
Due: none

chore: conditionals for merge_queue
  .github/workflows/node.js.yml
Due: none

test: update
  .github/workflows/node.js.yml
Due: none

test: update tested versions of node (#488)
  .github/workflows/node.js.yml
Due: none

try with different logic
  .github/workflows/node.js.yml
Due: none

chore: quote title
  .github/workflows/node.js.yml
Due: none

chore: merge_group
  .github/workflows/commitlint.yml
Due: none

chore: merge_group unit-e2e
  .github/workflows/node.js.yml
Due: none

chore: format
  .github/workflows/commitlint.yml
  .github/workflows/node.js.yml
Due: none

chore: remove bool logic
  .github/workflows/node.js.yml
Due: none

chore: merge queue (#487)
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/node.js.yml
Due: none

fix: remove use undici for fetch function (#470)
  src/fetch.test.ts
  src/fetch.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  015e9e5056ab6680cc4d6044c83a9b7ec82906b2
Due: none

test: override transitive dep f/ high vuln (cross-spawn)
  package-lock.json
  package.json
Due: prettier --write

fix: override transitive test dep f/ high vuln (cross-spawn) (#496)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dfd6068cc498568ec59dcaeacc94ff5a3968789c
Due: none

wip: saving progress
  package.json
Due: prettier --write

fix: white-list (package.json>files) over black-list (.npmignore) relevant files
  .npmignore
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
