Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

Notes added by 'git notes add'
  9bca9df0206bf400c6a165a8ac92b9c9215bf498
Due: none

fix: override tar-fs vulnerable version
  package-lock.json
  package.json
Due: prettier --write

fix: override tar-fs vulnerable version (#881)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a26a882410c0c8909099b5b4041bea869bac175
Due: none

chore: check crd generation
  README.md
Due: none

chore: fix generate
  package-lock.json
  package.json
  src/generate.test.ts
  src/generate.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f336061f6c1f462bf0c43b3625d792c448cd211d
Due: none

Notes added by 'git notes add'
  413b1944a9b81671b9efc519041199ae8b921c99
Due: none

chore: fix vitest mocks for class constructors
  package-lock.json
  src/fluent/utils.test.ts
  src/helpers.test.ts
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

Use @defenseunicorns/eslint-config strict
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

prettier fix
  eslint.config.mjs
Due: none

chore: use @defenseunicorns/eslint-config strict (#914)
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore: correct logFn
  src/generate.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  a69aacad59ce13c3f3c6845149e9418f70862e60
Due: none

chore: use strict from root eslint-config
  eslint.config.mjs
Due: none

Notes added by 'git notes add'
  da8c16fea0f35c91cf22b55d24d928d976c0b98d
Due: none

fix: extend v1objectmetadata when crd defines it
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

fix: extend v1objectmetadata when crd defines it (#947)
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  678c7cc7f580cc96af14ea9b85b480acbeec180b
Due: none

chore: trusted publishing for npmjs and github
  .github/workflows/release.yml
Due: none

chore: trusted publishing for npmjs and github (#963)
  .github/workflows/release.yml
Due: none

fix: standard two week release
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

fix: standard two week release (#965)
  .github/workflows/nightlies.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  83e0eafedf15850f408b14ed7030bc9db38528c2
Due: none

fix: nightly watch test for aks disconnects
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: add more logging
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: readme update
  README.md
Due: none

fix: readme update (#974)
  README.md
Due: none

Notes added by 'git notes add'
  34db2ea0a978e6a1e9233d242c3ced3da1852a5b
Due: none

chore: do not check resync
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: do not check relist
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8dbd5fdee412a0025dbef4d13d456dfad99b29c7
Due: none

fix: use timeouts
  src/fetch.ts
  src/fluent/watch.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: push for maciej
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: retry after header
  src/fetch.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: resync timer
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: fix files
  src/fluent/watch.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore: prevent infinite recursion
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: pr feedback
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

fix: use timeouts (#987)
  src/fluent/watch.ts
Due: prettier --write, eslint --fix
