Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

chore: incremental linting for PRs in CI
  .github/workflows/node.js.yml
Due: none

fix: pass workflow expressions through env vars to prevent injection
  .github/workflows/node.js.yml
Due: none

chore: simplify incremental lint to a shell script
  .github/workflows/node.js.yml
  package.json
  scripts/format-changed.sh
Due: prettier --write

fix: address greptile review feedback
  .github/workflows/node.js.yml
  scripts/format-changed.sh
Due: none

chore: incremental linting for PRs in CI (#1183)
  .github/workflows/node.js.yml
  package.json
  scripts/format-changed.sh
Due: prettier --write

Fix changelog formatting
  CHANGELOG.md
Due: none

chore: ignore CHANGELOG.md in prettier
  .prettierignore
Due: none

chore: ignore CHANGELOG.md in prettier (#1196)
  .prettierignore
Due: none

fix: add eslint warning ratchet and skip format on release
  .github/workflows/node.js.yml
  .prettierignore
  package.json
  scripts/format-changed.sh
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

fix: add eslint warning ratchet and skip format on release (#1197)
  .github/workflows/node.js.yml
  .prettierignore
  package.json
  scripts/format-changed.sh
Due: prettier --write

chore: initialize ADR tree
  doc/adr/0001-record-architecture-decisions.md
Due: none

chore: write 0002 ADR
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
Due: none

ci: drop Node 20 and matrix e2e across supported versions
  .github/workflows/dependency-review.yml
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
  .github/workflows/pexex.yaml
Due: none

Update .github/workflows/e2e.yml
  .github/workflows/e2e.yml
Due: none

ci: bump pexex workflow to Node 22
  .github/workflows/pexex.yaml
Due: none

ci: drop Node 20 and matrix e2e across supported versions (#1211)
  .github/workflows/dependency-review.yml
  .github/workflows/e2e.yml
  .github/workflows/node.js.yml
  .github/workflows/pexex.yaml
Due: none

chore(deps): remove unused node-fetch direct dependency
  package-lock.json
  package.json
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

wip: address feedback
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
Due: none

docs(adr): propose k8s integration test helpers (#1205)
  doc/adr/0001-record-architecture-decisions.md
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
Due: none

fix e2e flake diagnostics
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Ensure reconnect ordering
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Use standard recovery timeout
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

fix(ci): e2e flake diagnostics (#1243)
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

Group CodeQL action Dependabot updates
  .github/dependabot.yml
Due: none

Update undici to 8.10.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): group CodeQL action Dependabot updates (#1244)
  .github/dependabot.yml
Due: none

feat(test): add Kubernetes integration test helpers
  .github/workflows/node.js.yml
  README.md
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
  e2e/main.e2e.test.ts
  e2e/support.ts
  e2e/watch.e2e.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/verify-architecture.mjs
  scripts/verify-package.mjs
  src/test/diagnostics.test.ts
  src/test/diagnostics.ts
  src/test/environment.test.ts
  src/test/environment.ts
  src/test/index.ts
  src/test/preflight.test.ts
  src/test/preflight.ts
  src/test/resources.test.ts
  src/test/resources.ts
  src/test/vitest/config.test.ts
  src/test/vitest/config.ts
  src/test/vitest/index.ts
  src/test/vitest/setup.test.ts
  src/test/vitest/setup.ts
  src/test/wait.test.ts
  src/test/wait.ts
Due: prettier --write, eslint --fix

Update doc/adr/0002-ship-kubernetes-integration-test-helpers.md
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
Due: none

fix(test): address integration helper review
  .github/workflows/node.js.yml
  README.md
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
  e2e/main.e2e.test.ts
  eslint.config.mjs
  package.json
  scripts/verify-package.mjs
  src/test/index.ts
  src/test/resources.test.ts
  src/test/resources.ts
  src/test/verify-architecture.test.ts
  src/test/verify-package.test.ts
  src/test/wait.test.ts
  src/test/wait.ts
Due: prettier --write, eslint --fix

fix(test): align Vitest 4 verification
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
  package-lock.json
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

fix(test): refine package verification and restore explicit CI build step
  .github/workflows/node.js.yml
  package.json
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

feat(test): add Kubernetes integration test helpers (#1253)
  README.md
  doc/adr/0002-ship-kubernetes-integration-test-helpers.md
  e2e/main.e2e.test.ts
  e2e/support.ts
  e2e/watch.e2e.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/test/diagnostics.test.ts
  src/test/diagnostics.ts
  src/test/environment.test.ts
  src/test/environment.ts
  src/test/index.ts
  src/test/preflight.test.ts
  src/test/preflight.ts
  src/test/resources.test.ts
  src/test/resources.ts
  src/test/verify-architecture.test.ts
  src/test/verify-package.test.ts
  src/test/vitest/config.test.ts
  src/test/vitest/config.ts
  src/test/vitest/index.ts
  src/test/vitest/setup.test.ts
  src/test/vitest/setup.ts
  src/test/wait.test.ts
  src/test/wait.ts
Due: prettier --write, eslint --fix

fix: export fluent watch types from package root
  src/index.ts
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

test: verify packed package consumers
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

test: avoid npm package install resolver crash
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

test: link optional vitest peer for package check
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

fix: export fluent watch types from package root (#1284)
  src/index.ts
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

fix: restore legacy dist import compatibility
  package.json
  src/dist.ts
  src/test/verify-package.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
