Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

chore: add comments
  src/upstream.ts
Due: prettier --write, eslint --fix

chore: explanation comments
  src/upstream.ts
Due: prettier --write, eslint --fix

chore: reminder comments
  src/kinds.ts
Due: prettier --write, eslint --fix

chore: unit test for EP
  src/kinds.test.ts
Due: prettier --write, eslint --fix

fix: override generated endpoint class to correct type (#619)
  src/kinds.test.ts
  src/kinds.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  2e63dc9429d41bd72aba14f64f62e752faa80bfb
Due: none

chore: fix ep
  src/kinds.test.ts
  src/kinds.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

fix: fix ep (#623)
  src/kinds.test.ts
  src/kinds.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  88f08afc2741c5c02a911e0653da82fc8121328c
Due: none

fix: export generic-kind
  src/upstream.ts
Due: prettier --write, eslint --fix

fix: export generic-kind (#624)
  src/upstream.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  02b48c3f89ddd56d93103515a1b3a11012009204
Due: none

Add initial attempt at Pod eviction
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
Due: prettier --write, eslint --fix

Add test for error cases
  src/fluent/index.test.ts
  src/fluent/index.ts
Due: prettier --write, eslint --fix

Work on E2E eviction test
  e2e/main.e2e.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
Due: prettier --write, eslint --fix

Form eviction URL
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Passing eviction test
  e2e/main.e2e.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Add conditional checks for an eviction post
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Add payload type check
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Extend timeout
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

Remove old type
  src/fluent/types.ts
Due: prettier --write, eslint --fix

Use Eviction type definition from upstream
  src/fluent/types.ts
  src/fluent/utils.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Adopt consistent eslint ruleset in KFC
  eslint.config.mjs
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

feat: add support for API-based pod eviction (#629)
  e2e/main.e2e.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Apply prettier to lint config
  eslint.config.mjs
Due: none

Notes added by 'git notes add'
  66a19c206a39cf94695f00e0fb41e6193b8b37d4
Due: none

Refactor eviction URL generation
  src/fluent/index.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Remove unnecessary kindOverride
  src/fluent/index.ts
Due: prettier --write, eslint --fix

Only url builder function once
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Remove unnecessary conditional check
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Remove user-facing export of Eviction type
  src/fluent/utils.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

fix: refactor eviction URL generation (#633)
  src/fluent/utils.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  89364bfa99fd07963680726ecb5003273e1457f4
Due: none

chore: update @kubernetes/client-node
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint ruleset (#631)
  eslint.config.mjs
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

chore: eslint config
  .github/workflows/matrix.js
  .github/workflows/pexex.yaml
  eslint.config.mjs
Due: prettier --write, eslint --fix

chore: format
  .github/workflows/pexex.yaml
  eslint.config.mjs
Due: none

chore: find directory
  .github/workflows/pexex.yaml
Due: none

chore: find directory for ci
  .github/workflows/pexex.yaml
Due: none

chore: rename var
  .github/workflows/pexex.yaml
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
