Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

fix: remove cruft from pub'd package (#503)
  .npmignore
  package.json
Due: prettier --write

Notes added by 'git notes add'
  568c3215b3ee533ccf42d3e7adfc168869762297
Due: none

chore: contributing guide
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore: updates
  CONTRIBUTING.md
Due: none

chore: format fix
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore: contributor guide for kfc (#510)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore: ignore breaking release of @kubernetes/client-node
  .github/dependabot.yml
Due: none

chore: ignore breaking release of @kubernetes/client-node (#516)
  .github/dependabot.yml
Due: none

Notes added by 'git notes add'
  5e6662b5892c789d47bcd0c2fc85e3cc28987a97
Due: none

chore: remove nock
  package-lock.json
  package.json
Due: prettier --write

chore: remove nock (#550)
  package-lock.json
  package.json
Due: prettier --write

chore: expose watcher class types
  src/fluent/types.ts
Due: prettier --write, eslint --fix

feat: expose watcher class types (#555)
  src/fluent/types.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  90638e28de443422e79ae6ce84d42cdd0bcfcdfb
Due: none

chore: prefer token from @kubernetes/client-node
  WORKING.ts.txt
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  8ed4f513af64a08470bc04dc18632fa171d4268d
Due: none

chore: prefer authorization header from kubernetes/client-node
  src/fluent/types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: remove unneeded code
  WORKING.ts.txt
Due: none

fix: prefer tokens from kubernetes/client-node (#569)
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  68a4de6513d33a84033c146b2d3cfce83a90c049
Due: none

chore: remove redudant test
  .github/workflows/release.yml
Due: none

chore: spell check comment
  .github/workflows/release.yml
Due: none

chore: remove redundant test (#574)
  .github/workflows/release.yml
Due: none

Add eslint:v9.21.0 to project
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

fix: update README.md (#585)
  README.md
Due: none

Notes added by 'git notes add'
  a16f08e0f2b08d9b465ee01576d4ef55380d034e
Due: none

Notes added by 'git notes add'
  38d9159bf34029ac4e2cff238857b4609a454281
Due: none

chore: bump prod deps - not kubernetes/client-node
  package-lock.json
  package.json
Due: prettier --write

chore: bump prod deps - not kubernetes/client-node (#600)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5cbc885e160b63fbea7fa9ef35e49f361f6cedf3
Due: none

chore: bump prod deps
  package-lock.json
  package.json
Due: prettier --write

fix: bump undici and typefest (#608)
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e74369852202254187398a44fb229f5f3988006d
Due: none

chore: ignore kubenertes/client-node@1.1.0
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

chore: ignore kubenertes/client-node@1.1.0 (#611)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write

chore: more robust ignore rule
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

chore: more robust ignore rule (#616)
  .github/dependabot.yml
Due: none

chore: override generated endpoint class
  src/kinds.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
