Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

Check for circular deps in CI
  .github/workflows/dependency-review.yml
Due: none

Apply format fixes to YAML files
  .github/workflows/dependency-review.yml
  .lintstagedrc.json
Due: prettier --write

chore: check for circular dependencies in CI (#700)
  .github/workflows/dependency-review.yml
  .lintstagedrc.json
Due: prettier --write

chore: remove circular deps
  src/fluent/index.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
  src/types/shared.ts
Due: prettier --write, eslint --fix

chore: update ci circular deps
  .github/workflows/dependency-review.yml
Due: none

chore: update e2es
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: circular dep removal
  .github/workflows/dependency-review.yml
  src/fluent/types.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Upgrade @kuberenetes/client-node
  package-lock.json
  package.json
Due: prettier --write

Add missing types
  package-lock.json
  package.json
Due: prettier --write

chore: remove circular dep
  .github/workflows/dependency-review.yml
  e2e/watch.e2e.test.ts
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Re-work k8s mock
  __mocks__/@kubernetes/client-node.ts
Due: prettier --write, eslint --fix

Remove old mock of client-node
  __mocks__/@kubernetes/client-node.ts
Due: prettier --write, eslint --fix

Update build process
  e2e/kinds.e2e.test.ts
  package-lock.json
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

chore: remove all circular deps
  .github/workflows/dependency-review.yml
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: reduce complexity and args in k8sexec
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: doc comment
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: fix missing type
  src/fluent/index.ts
Due: prettier --write, eslint --fix

chore: pass by object reference
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

Remove mocks directory
  __mocks__/@kubernetes/client-node.ts
Due: prettier --write, eslint --fix

Remove filesystem implementation
  src/fileSystem.test.ts
  src/fileSystem.ts
Due: prettier --write, eslint --fix

Remove filesystem from postProcessing consumer
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: remove mocks directory (#721)
  __mocks__/@kubernetes/client-node.ts
Due: prettier --write, eslint --fix

Mock fs directly instead of using an intermediary
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Allow some linter suppressions for test rework
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

Remove filesystem use from cli
  src/cli.ts
Due: prettier --write, eslint --fix

Add suppressions
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

chore: refactor postprocessing code (#725)
  src/cli.ts
  src/fileSystem.test.ts
  src/fileSystem.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

Prefer it() in test names
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

Remove unused read & write functions
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: e2e with vite - wip
  .prettierignore
  e2e/cli.e2e.test.ts
  e2e/kinds.e2e.test.ts
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Remove a function that's only used once
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: format e2e with prettier
  .prettierignore
Due: none

chore: formatted e2e
  e2e/kinds.e2e.test.ts
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: fix type errors and e2e test
  .github/workflows/e2e.yml
  src/types.ts
Due: prettier --write, eslint --fix

chore: prettier e2e (#729)
  .prettierignore
  e2e/kinds.e2e.test.ts
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
Due: prettier --write, eslint --fix

chore: refactor postprocessing implementation (#726)
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: explicitly include matrix in tsconfig
  .github/workflows/matrix.js
  .github/workflows/pexex.yaml
  e2e/matrix.ts
  e2e/tsconfig.json
Due: prettier --write, eslint --fix

chore: matrix.mts
  .github/workflows/pexex.yaml
  e2e/matrix.mts
  e2e/tsconfig.json
Due: prettier --write

chore: esm and update types
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

switch from common to esnext
  commitlint.config.cjs
  tsconfig.json
Due: prettier --write
