Repository defenseunicorns/kubernetes-fluent-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

chore: explicitly include matrix in tsconfig (#731)
  .github/workflows/matrix.js
  .github/workflows/pexex.yaml
  commitlint.config.cjs
  e2e/matrix.mts
  e2e/tsconfig.json
  package.json
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: format fix
  e2e/watch.e2e.test.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore: e2e with vite (#728)
  .github/workflows/e2e.yml
  e2e/cli.e2e.test.ts
  e2e/kinds.e2e.test.ts
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
  package-lock.json
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

Split normalization logic to separate file
  src/normalization.test.ts
  src/normalization.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: split normalization logic to separate file (#741)
  src/normalization.test.ts
  src/normalization.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: enum and madge pr comments
  .github/workflows/dependency-review.yml
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: fix watch and utils test
  src/fluent/utils.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

feat: removes all circular dep from kfc (#709)
  .github/workflows/dependency-review.yml
  e2e/watch.e2e.test.ts
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  5c1963db8aa4331edc10c3507236d20e06cb9c86
Due: none

chore: format
  src/fluent/index.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
Due: prettier --write, eslint --fix

chore: remove unused file
  e2e/kinds.e2e.test.ts
  e2e/watch.e2e.test.ts
  package.json
  src/cli.ts
  src/fetch.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
  src/generate.test.ts
  src/generate.ts
  src/helpers.test.ts
  src/index.ts
  src/kinds.test.ts
  src/kinds.ts
  src/normalization.test.ts
  src/normalization.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

Migrate to vitest for all tests
  e2e/cli.e2e.test.ts
  package-lock.json
  package.json
  src/fetch.test.ts
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/fluent/watch.test.ts
  src/generate.test.ts
  src/helpers.test.ts
  src/kinds.test.ts
  src/normalization.test.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
Due: prettier --write, eslint --fix

chore: merge conflicts
  e2e/kinds.e2e.test.ts
  e2e/watch.e2e.test.ts
  package.json
  src/cli.ts
  src/fetch.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
  src/generate.test.ts
  src/generate.ts
  src/helpers.test.ts
  src/index.ts
  src/kinds.test.ts
  src/kinds.ts
  src/normalization.test.ts
  src/normalization.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
  src/upstream.ts
Due: prettier --write, eslint --fix

chore: consolidate sam and i's work
  README.md
  e2e/crds/policyreports/policyreport-v1alpha1.ts
  e2e/crds/policyreports/policyreport-v1alpha2.ts
  e2e/crds/policyreports/policyreport-v1beta1.ts
  e2e/crds/uds-podmonitors/podmonitor-v1.ts
  package-lock.json
  package.json
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/fluent/watch.test.ts
  src/generate.test.ts
  src/index.ts
  src/normalization.test.ts
  src/postProcessing.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: remove crd dir
  e2e/crds/policyreports.default.expected/policyreport-v1alpha1.ts
  e2e/crds/policyreports.default.expected/policyreport-v1alpha2.ts
  e2e/crds/policyreports.default.expected/policyreport-v1beta1.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1alpha1.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1alpha2.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1beta1.ts
  e2e/crds/policyreports/policyreport-v1alpha1.ts
  e2e/crds/policyreports/policyreport-v1alpha2.ts
  e2e/crds/policyreports/policyreport-v1beta1.ts
  e2e/crds/test.yaml/policyreports.test.yaml
  e2e/crds/test.yaml/uds-podmonitors.test.yaml
  e2e/crds/uds-podmonitors.default.expected/podmonitor-v1.ts
  e2e/crds/uds-podmonitors.no.post.expected/podmonitor-v1.ts
  e2e/crds/uds-podmonitors/podmonitor-v1.ts
Due: prettier --write, eslint --fix

chore: add back crds dir
  e2e/crds/policyreports.default.expected/policyreport-v1alpha1.ts
  e2e/crds/policyreports.default.expected/policyreport-v1alpha2.ts
  e2e/crds/policyreports.default.expected/policyreport-v1beta1.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1alpha1.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1alpha2.ts
  e2e/crds/policyreports.no.post.expected/policyreport-v1beta1.ts
  e2e/crds/test.yaml/policyreports.test.yaml
  e2e/crds/test.yaml/uds-podmonitors.test.yaml
  e2e/crds/uds-podmonitors.default.expected/podmonitor-v1.ts
  e2e/crds/uds-podmonitors.no.post.expected/podmonitor-v1.ts
Due: prettier --write, eslint --fix

chore: fix main e2e test
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: format
  README.md
Due: none

chore: skip tests that are failing erroneously
  src/fluent/utils.test.ts
Due: prettier --write, eslint --fix

chore: change back readme
  README.md
Due: none

Update e2e/main.e2e.test.ts
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: uncomment commented code in main e2e
  e2e/main.e2e.test.ts
Due: prettier --write, eslint --fix

chore: skip in watch
  src/fluent/watch.test.ts
Due: prettier --write, eslint --fix

Use https:// in mocked URLs
  src/fluent/index.test.ts
  src/fluent/utils.test.ts
  src/fluent/watch.test.ts
  src/generate.test.ts
  src/helpers.test.ts
Due: prettier --write, eslint --fix

fix: imports and tests for cli to work (#744)
  e2e/cli.e2e.test.ts
  e2e/kinds.e2e.test.ts
  e2e/main.e2e.test.ts
  e2e/watch.e2e.test.ts
  package-lock.json
  package.json
  src/cli.ts
  src/fetch.test.ts
  src/fluent/index.test.ts
  src/fluent/index.ts
  src/fluent/shared-types.ts
  src/fluent/types.ts
  src/fluent/utils.test.ts
  src/fluent/utils.ts
  src/fluent/watch.test.ts
  src/fluent/watch.ts
  src/generate.test.ts
  src/generate.ts
  src/helpers.test.ts
  src/index.ts
  src/kinds.test.ts
  src/kinds.ts
  src/normalization.test.ts
  src/normalization.ts
  src/postProcessing.test.ts
  src/postProcessing.ts
  src/upstream.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  77b974f1b85a0c485979d284d44b68ae91601237
Due: none

chore: revert quicktype change
  package-lock.json
  package.json
  src/generate.ts
Due: prettier --write, eslint --fix

chore: e2e test for json-schema
  .gitignore
  e2e/cli.e2e.test.ts
  e2e/crds/policyreports/policyreport-v1alpha1.ts
  e2e/crds/policyreports/policyreport-v1alpha2.ts
  e2e/crds/policyreports/policyreport-v1beta1.ts
  e2e/crds/uds-package/package-v1alpha1.json-schema
  e2e/crds/uds-package/package.crd.yaml
  e2e/crds/uds-podmonitors/podmonitor-v1.ts
  e2e/datastore-v1alpha1.ts
  package.json
Due: prettier --write, eslint --fix

chore: remove unused files
  .gitignore
  e2e/crds/policyreports/policyreport-v1alpha1.ts
  e2e/crds/policyreports/policyreport-v1alpha2.ts
  e2e/crds/policyreports/policyreport-v1beta1.ts
  e2e/crds/uds-package/package-v1alpha1.json-schema
  e2e/datastore-v1alpha1.ts
Due: prettier --write, eslint --fix

chore: delete podmonitor generated
  e2e/crds/uds-podmonitors/podmonitor-v1.ts
Due: prettier --write, eslint --fix

chore: fix json-schema output
  package-lock.json
  package.json
  src/generate.ts
Due: prettier --write, eslint --fix

chore: unit tests
  src/generate.test.ts
  src/generate.ts
Due: prettier --write, eslint --fix

chore: pass e2e tests
  package-lock.json
  package.json
  src/generate.test.ts
  src/postProcessing.test.ts
Due: prettier --write, eslint --fix

chore: update e2e test for path
  package.json
Due: prettier --write

Only update yargs
  package-lock.json
  package.json
Due: prettier --write

chore: change paths
  package.json
Due: prettier --write

chore: sanity check
  package.json
Due: prettier --write

chore: consolidate commands
  .github/workflows/e2e.yml
Due: none

chore: test with npm command
  package.json
Due: prettier --write
